svg {
  width: 20px;
  height: 20px;
  color: #6d6c6c;
}

svg:hover {
  color: var(--sidebar-foreground);
  cursor: pointer;
}

.statusBar .bookmark{
  transition: stroke 0.2s ease, fill 0.2s ease;
}

.statusBar .bookmark.active:hover{
  stroke: #8b65ff;
  fill: #8b65ff;
}

.bookmark.active {
  stroke: #a78bfa;
  fill: #a78bfa;
}

.sidebar_header .active svg:hover{
  color: #6d6c6c;
}